* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(../../imagens/backgroundLp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
}
.container1 {
  background-color: $background-color;
  width: 450px;
  height: auto;
}

.topLogo {
  width: 300px;
}

.paragraph {
  margin: 8px 0px;
}

.btnSend {
  color: $button-color;
  border: 1px solid $button-color;
}

.fotter {
  margin-top: 30px;
}
